body {
    background-color: #25282a;
    color: #eee;
}

.container {
    max-width: 50vw;
    margin: 0 auto;
}

input[type="radio"],
input[type="radio"]:not(:checked) ~ .controls {
    display: none;
}

input[type="radio"]:not(:checked) ~ .image,
input[type="radio"]:not(:checked) ~ .properties,
input[type="radio"]:not(:checked) ~ .image img,  
input[type="radio"]:not(:checked) ~ .properties p {    
    max-height: 0px;
    margin: 0;
    padding: 0;
    line-height: 0;
    overflow: hidden;
    opacity: 0;
}

.controls {
    display: flex;
}

.image {
	img {
		width: 100%;
		border-radius: 10px;
		transition: opacity 1s ease-in-out;
	}
}

.properties {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
	p {
		opacity: 1;
		margin-right: 15px;
		// transition: opacity 1s ease-in-out;
	}
}

.controls {
	label {
    	padding: 10px 5px;
    	cursor: pointer;

		.pointer {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid #72AFE4;
			background-color: #72AFE4;
			// transition: opacity 1s ease-in-out;
		}

		&.current {
			.pointer {
				background-color: transparent;
			}
		}

		&:hover {
			.pointer {
				border: 2px solid #fff;
				background-color: #fff;
				transition: .5s;
			}
		}

		&:active {
			.pointer {
				transform: scale(1.5);
			}
		}
	}
}